<%- include ("./header.ejs") %>
<link rel="stylesheet" href="../public/css/search.css"/>
<script src="../public/js/search.js"></script>
<script
    src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
    integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
    crossorigin="anonymous">
</script>

<div class="section-wrapper">
    <div class="section-title">Search</div>
    <form id="searchForm" onsubmit="search(event)">
        <fieldset>
            <div>
                <label>City
                    <input type="text" id="city">
                </label>
            </div>
            <div>
                <label>State
                    <input type="text" id="state">
                </label>
            </div>
            <div class="wrapper">
	            <label for="datepicker">From
		            <input type="text" class="datepicker datepicker-from" id="datepicker-from" autocomplete="off">
	            </label>
            </div>
            <div class="wrapper">
	            <label for="datepicker">To
		            <input type="text" class="datepicker datepicker-to" id="datepicker-to" autocomplete="off">
	            </label>
            </div>
            <div id="searchButton">
                <button type="submit">Search</button>
            </div>
        </fieldset>
    </form>
</div>

<div id="map">
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLLUo32ZpB9jmLB7cblFzRKv73xF2XjDE&callback=mapInit&libraries=visualization&v=weekly" async>
    $(document).ready(mapInit());
</script> 

<div style="height: 10px; 
            background-color: #e8eefb;">
</div>

<div id="accidentsList">
</div>

<%- include ("./footer.ejs") %>
